*{
    background-color: darkgoldenrod;
}


.hero,
.links {
    font-style: oblique;
    font-size: 200%;
    text-align: center;

}

.recipes-list ul{
    list-style-type: none;
    font-size: 130%;
    font-family: sans-serif;
    text-align: center;
    border: solid 1px white;
    padding: 20px 20px;
    line-height: 50px;
}
a{
    color: beige ;
    text-decoration: none;
    
    margin-left: 5px;

}
.hero{
font-size: 300%;
border-bottom: solid 2px;
}


.links .recipes{
    text-align: left;
    color: beige;
    font-family: sans-serif;
}
.links .contact{
    font-family: sans-serif;
    text-align: center;
    border: 0px solid #00000099;
    background-color: #00000099;
    color: beige;
    margin: 30px 5px;
    padding: 20px 20px ;
    border-radius: 20px 20px;
}